.enterprises {
  &__title {
    font-size: 16px;
    color: #001e41;
    margin: 0 0 10px;
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    display: flex;
  }

  &__img {
    object-fit: contain;
  }
}
